<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./Tests/Functional/Bootstrap.php"
        colors="true"
        backupGlobals="false"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd"
        stderr="true"
>
    <testsuite name="NetzhirschFillingArticlesUpToTheFreeShippingLimit Test Suite">
        <directory>./Tests</directory>
    </testsuite>

</phpunit>
