<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="boolean">
            <name>noteArticle</name>
            <label lang="de">Hinweis neben Warenkorb Artikel</label>
            <label>Note next to basket article</label>
            <value>1</value>
            <description lang="de">Wie viele von diesem Artikel bis zur Versandkosten-Freigrenze. Dieser Text kann über den Textbaustein "CartInfoMissingAmountToShippingCostFreeBoarder" angepasst werden, dabei ist die Variable $CartInfoFreeShipping der Textbaustein "CartInfoFreeShipping".</description>
            <description>How many from this article to the free shipping limit.</description>
        </element>
        <element scope="shop" type="boolean">
            <name>noteAboveBasket</name>
            <label lang="de">Hinweis oberhalb des Warenkorbes</label>
            <label>Note above the basket</label>
            <value>1</value>
            <description lang="de">Unter dem Versandkostenfrei Hinweis wird zusätzlich "Hier finden Sie passende Artikel dazu." angezeigt. Dieser Text kann über den Textbaustein "CartInfoFreeShippingFillingArticleMessage" angepasst werden.</description>
            <description>Under the free shipping note is also displayed "Here you will find matching items". This text can be adapted via the text module "CartInfoFreeShippingFillingArticleMessage".</description>
        </element>
        <element scope="shop" type="boolean">
            <name>viewInAjaxBasket</name>
            <label>also in ajax basket</label>
            <label lang="de">Anzeige im Ajax-Warenkorb</label>
        </element>
        <element scope="shop" type="combo">
            <name>displayVariants</name>
            <label lang="de">Anzeige Varianten</label>
            <label>display variants</label>
            <value>show under the basket</value>
            <store>
                <option>
                    <value>show under the basket</value>
                    <label>show under the basket</label>
                    <label lang="de">Anzeige unter dem Warenkorb</label>
                </option>
                <option>
                    <value>popup</value>
                    <label>popup</label>
                    <label lang="de">Popup</label>
                </option>
                <option>
                    <value>scroll out</value>
                    <label>scroll out</label>
                    <label lang="de">ausfahren</label>
                </option>
                <option>
                    <value>scroll to</value>
                    <label>scroll to</label>
                    <label lang="de">hinfahren</label>
                </option>
            </store>
        </element>
        <element scope="shop" type="number">
            <name>maxArticle</name>
            <label lang="de">Maximale Artikel-Anzahl im Slider</label>
            <label>maximum number of articles in the slider</label>
            <value>20</value>
            <options>
                <minValue>1</minValue>
            </options>
        </element>
        <element scope="shop" type="boolean">
            <name>isCombineAllowed</name>
            <label lang="de">Kombinationen</label>
            <label>combinations</label>
            <description lang="de">Auch Füllartikel anzeigen, die alleine nicht die Versandkosten-Freigrenze erreichen.</description>
            <description>Also show filling articles which alone do not reach the free shipping limit.</description>
        </element>
        <element scope="shop" type="number">
            <name>minimumArticlePrice</name>
            <label lang="de">Minimaler Artikelpreis</label>
            <label>minimum article price</label>
            <description lang="de">Minimaler Preis für Artikel, die alleine nicht die Versandkosten-Freigrenze erreichen.</description>
            <description>Minimum price for articles which alone do not reach the free shipping limit.</description>
            <options>
                <minValue>0</minValue>
            </options>
        </element>
        <element scope="shop" type="combo">
            <name>minimumArticlePriceUnit</name>
            <label lang="de">Minimaler Artikelpreis Einheit</label>
            <label>Minimum article price unit</label>
            <description lang="de">Die Prozentangabe bezieht sich auf den fehlenden Restbetrag zur Versandkosten-Freigrenze.</description>
            <description>The percentage refers to the missing balance to the shipping cost exemption limit.</description>
            <store>
                <option>
                    <value>€</value>
                    <label>€</label>
                </option>
                <option>
                    <value>%</value>
                    <label>%</label>
                </option>
            </store>
        </element>
        <element scope="shop" type="number">
            <name>maximumArticlePrice</name>
            <label lang="de">Maximaler Artikelpreis</label>
            <label>maximum article price</label>
            <description lang="de">Maximaler Preis für Artikel, die alleine nicht die Versandkosten-Freigrenze erreichen.</description>
            <description>maximum price for articles which alone do not reach the free shipping limit.</description>
            <options>
                <minValue>0</minValue>
            </options>
        </element>
        <element scope="shop" type="combo">
            <name>maximumArticlePriceUnit</name>
            <label lang="de">Maximaler Artikelpreis Einheit</label>
            <label>maximum price unit</label>
            <description lang="de">Die Prozentangabe bezieht sich auf den fehlenden Restbetrag zur Versandkosten-Freigrenze.</description>
            <description>The percentage refers to the missing balance to the shipping cost exemption limit.</description>
            <store>
                <option>
                    <value>€</value>
                    <label>€</label>
                </option>
                <option>
                    <value>%</value>
                    <label>%</label>
                </option>
            </store>
        </element>
        <element scope="shop" type="number">
            <name>maximumOverhang</name>
            <label lang="de">Maximaler Überhang über die VSKFG in Euro</label>
            <label>maximum overhang over the VSKFG in Euro</label>
            <description lang="de">Füllartikel Preis minus Rest zur Versandkosten-Freigrenze kleiner gleich Überhang</description>
            <description>Filling article Price minus rest to the shipping cost exemption limit less than or equal to overhang</description>
            <options>
                <minValue>0</minValue>
            </options>
        </element>
        <element scope="shop" type="select">
            <name>excludedArticles</name>
            <label>exclude articles</label>
            <label lang="de">Artikel ausschließen</label>
            <description lang="de">Diese Artikel werden nicht Füllartikel berücksichtigt.</description>
            <description>These articles are not considered filling articles.</description>
            <store>Shopware.apps.Base.store.Article</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>
        <element scope="shop" type="select">
            <name>variantsGroup</name>
            <label>exclude variant groups</label>
            <label lang="de">Varianten-Gruppen ausschließen</label>
            <description lang="de">Wählen Sie z.B. Größe um zu verhindert, dass Füllartikel der Größe S vorgeschlagen werden, wenn im Warenkorb Artikel der Größe XL liegen.</description>
            <description>Choose e.g. size to avoid that filling articles of size S are suggested if the shopping cart contains articles of size XL.</description>
            <store>
                <![CDATA[Ext.define('Me.Netzhirsch.Form', {
                extend: 'Ext.data.Store',
                fields: [
                    { name:'id', type: 'int' },
                    { name:'name', type: 'string' }
                ],
                autoLoad: true,
                pageSize: 25,
                proxy: {
                    type: 'ajax',
                    url: window.location.href.substr(0
                        , window.location.href.indexOf('backend')) + 'backend/PluginConfig/getVariantGroups',
                    reader: {
                        type: 'json',
                        root: 'data',
                        totalProperty: 'total'
                    }
                }
                }).create();//new ]]>
            </store>
            <options>
                <multiSelect>true</multiSelect>
                <valueField>id</valueField>
                <displayField>name</displayField>
            </options>
        </element>
        <element scope="shop" type="combo">
            <name>sorting</name>
            <label lang="de">Sortierung von den Füllartikel</label>
            <label>Sorting of the filling articles</label>
            <value>randomly</value>
            <store>
                <option>
                    <value>randomly</value>
                    <label>randomly</label>
                    <label lang="de">Zufällig</label>
                </option>
                <option>
                    <value>price ascending</value>
                    <label>price ascending</label>
                    <label lang="de">Preis aufsteigend</label>
                </option>
                <option>
                    <value>price descending</value>
                    <label>price descending</label>
                    <label lang="de">Preis absteigend</label>
                </option>
                <option>
                    <value>votes descending</value>
                    <label>votes descending</label>
                    <label lang="de">Bewertungen absteigend</label>
                </option>
                <option>
                    <value>stock ascending</value>
                    <label>stock ascending</label>
                    <label lang="de">Lagerbestand aufsteigend</label>
                </option>
                <option>
                    <value>stock descending</value>
                    <label>stock descending</label>
                    <label lang="de">Lagerbestand absteigend</label>
                </option>
                <option>
                    <value>popularity ascending</value>
                    <label>popularity ascending</label>
                    <label lang="de">Beliebtheit aufsteigend</label>
                </option>
                <option>
                    <value>popularity descending</value>
                    <label>popularity descending</label>
                    <label lang="de">Beliebtheit absteigend</label>
                </option>
            </store>
        </element>
        <element scope="shop" type="button">
            <name>fillingArticleSeparator</name>
            <label>filling articles filter</label>
            <label lang="de">Füllartikel Filter</label>
        </element>
        <element scope="shop" type="boolean">
            <name>topSeller</name>
            <label lang="de">Top Seller berücksichtigen.</label>
            <label>Consider top seller</label>
            <value>1</value>
            <description lang="de">Die in den Grundeinstellungen maximale Anzahl an Top Seller wird den Füllartikeln hinzugefügt und es wird als erste nach Top seller sortiert , danach nach der gewählten Sortierung.</description>
            <description>The maximum number of Top Sellers in the basic settings will be added to the fill items and it will be sorted first by Top Seller, then by the selected sorting.</description>
        </element>
        <element scope="shop" type="select">
            <name>productStream</name>
            <label>product stream</label>
            <label lang="de">Product Streams berücksichtigen</label>
            <description lang="de">Füllartikel ausschließlich aus diesen Product Streams wählen.</description>
            <description>Choose filling articles exclusively from these product streams.</description>
            <store>
                <![CDATA[Ext.define('Me.Netzhirsch.Form', {
                extend: 'Ext.data.Store',
                fields: [
                    { name:'id', type: 'int' },
                    { name:'name', type: 'string' }
                ],
                autoLoad: true,
                pageSize: 25,
                proxy: {
                    type: 'ajax',
                    url: window.location.href.substr(0
                        , window.location.href.indexOf('backend')) + 'backend/PluginConfig/getProductStreams',
                    reader: {
                        type: 'json',
                        root: 'data',
                        totalProperty: 'total'
                    }
                }
                }).create();//new ]]>
            </store>
            <options>
                <multiSelect>true</multiSelect>
                <valueField>id</valueField>
                <displayField>name</displayField>
            </options>
        </element>
        <element scope="shop" type="combo">
            <name>consider</name>
            <label lang="de">Kategorie und/oder Hersteller berücksichtigen</label>
            <label>Consider category and/or manufacturer</label>
            <description lang="de">Es werden nur Artikel z.B. aus Kategorien angezeigt, die bereits im Warenkorb vertreten sind.</description>
            <description>Only articles e.g. from categories that are already in the shopping cart are displayed.</description>
            <store>
                <option>
                    <value> </value>
                    <label> </label>
                </option>
                <option>
                    <value>category</value>
                    <label>category</label>
                    <label lang="de">Kategorie</label>
                </option>
                <option>
                    <value>supplier</value>
                    <label>supplier</label>
                    <label lang="de">Hersteller</label>
                </option>
                <option>
                    <value>categoryAndSupplier</value>
                    <label>category and supplier</label>
                    <label lang="de">Kategorie und Hersteller</label>
                </option>
                <option>
                    <value>categoryOrSupplier</value>
                    <label>category or supplier</label>
                    <label lang="de">Kategorie oder Hersteller</label>
                </option>
            </store>
        </element>
        <element scope="shop" type="boolean">
            <name>customersAlsoBought</name>
            <label lang="de">Kunden kauften auch berücksichtigen.</label>
            <label>Consider Customers also bought.</label>
            <value>1</value>
        </element>
        <element scope="shop" type="boolean">
            <name>similarArticles</name>
            <label lang="de">Ähnliche Artikel berücksichtigen.</label>
            <label>Consider similar articles.</label>
            <value>1</value>
            <description lang="de">Nur im Artikel verknüpfte ähnliche Artikel. Automatisch erzeugte ähnliche Artikel "Füllartikel berücksichtigen -> Kategorie" auswählen </description>
            <description>Only similar articles linked in the article. Automatically generated similar articles "Consider filling article -> Select category.</description>
        </element>
        <element scope="shop" type="boolean">
            <name>accessories</name>
            <label lang="de">Zubehör berücksichtigen.</label>
            <label>accessories</label>
            <value>0</value>
        </element>
    </elements>
</config>
